html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-image: url(../obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

img#coinstack {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    filter: invert(64%) sepia(57%) saturate(410%) hue-rotate(357deg) brightness(91%) contrast(84%);
}

header {
    background-color: #0b1826;
    color: white;
    margin: none;
}

h1 {
    margin: 0.5rem;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-size: 2.7rem;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0.2rem;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

h3 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    color: rgb(170, 168, 168);
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    transform: skew(0.10rad);
}

h4 {
    font-family: 'Merienda', cursive;
    font-size: 1.7rem;
    font-weight: bold;
}

h4 {
    font-size: 1.9rem;
    margin: 0rem 4rem 2rem 4rem;
    color: white;
}

p.stepByStep {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.instructions img {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(348deg) brightness(106%) contrast(106%);
}

#navbarMainRow {
    color: white;
    background-image: linear-gradient(to top, #0b1826, #152130, #1f2b3a, #293544, #333f4f);
    border: solid;
    border-width: 1px 0 0 0;
    border-color: rgb(184, 184, 184);
    padding: 0;
}

.toolbarIcons {
    filter: invert(100%) sepia(72%) saturate(4641%) hue-rotate(180deg) brightness(117%) contrast(100%);
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    width: 1.4rem;
    height: auto;
}

.navbar-brand {
    font-size: 0.90rem;
}

.toolbarIcons:nth-of-type(1) {
    padding-bottom: 0.1rem;
    margin-right: 0.2rem;
}

a {
    color: white !important;
    font-size: 0.95rem;
}

a#loggedInUser.navbar-brand {
    font-size: 0.80rem;
    padding-top: 0;
}

a.nav-link.active {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#navbarSupportedContent li:nth-of-type(4) a {
    color: rgb(16, 97, 247) !important;
}

#navbarSupportedContent li:nth-of-type(4) a img {
    filter: invert(30%) sepia(69%) saturate(4936%) hue-rotate(215deg) brightness(97%) contrast(99%) !important;
}

#hamburgerIcon {
    height: 2rem;
}

li:hover {
    background-color: #0d3453;
    transform: translateY(0.05rem);
    border-radius: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    background-color: #344a68;
}

/*balance styles*/

.balanceSheet {
    background-image: url(./obrazki/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0;
    padding-top: 1.1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#chooseDate {
    background-image: linear-gradient(to bottom, #2b66a4, #25548f, #1e427b, #173167, #0f2153);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: auto;
    border-radius: 5px;
}

#chooseDate h2 {
    font-size: 1.6rem;
    font-size: auto;
    justify-content: center;
    align-content: center;
    font-family: 'Adamina', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 0.15rem;
    margin: 0;
}

select {
    width: 25%;
    height: 5%;
    color: rgb(63, 63, 63);
    background-color: white;
    border: thin solid grey;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    font-family: 'Roboto', serif;
    font-weight: bold;
    letter-spacing: 0.15rem;
    line-height: 1.5em;
    padding: 0.5rem 3.5rem 0.5rem 1rem;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(135deg, white 50%, transparent 50%),
        radial-gradient(rgb(164, 197, 207) 70%, transparent 72%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    color: rgb(63, 63, 63);
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        radial-gradient(rgb(60, 106, 119) 70%, transparent 72%);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

option {
    color: black;
    font-weight: bold;
}

section.generalPanelsInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

table {
    height: auto;
    width: 100%;
    text-align: center;
    background-color: black;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.90rem;
}

.incomesExpensesTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dee5ec;
    border-radius: 2px;
}

.incomesTable {
    background-color: #dee5ec;
}

.expensesTable {
    background-color: #dee5ec;
}

thead tr:not(:first-child) {
    background-color: #343a40;
    color: white;
}

thead tr:nth-of-type(1) th:nth-of-type(1) {
    text-align: center;
    font-size: 1.5rem;
    color: #215580;
}

th {
    padding: 0.4rem;
}

th.positionNumber {
    text-align: center;
}

tbody tr {
    background-color: white;
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 29%);
}

tbody tr td:nth-of-type(1) {
    text-align: center;
}

tr,
td {
    text-align: left;
    padding: 0.4rem;
}

tfoot td:nth-of-type(1) {
    text-align: center;
    color: black;
}

.incomesTable tfoot td {
    background-color: rgb(164, 218, 102);
    font-weight: bold;
}

.incomesTable tfoot,
.expensesTable tfoot {
    box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 29%);
}

.incomesTable tfoot td:nth-of-type(2) {
    color: rgb(15, 85, 15);
}

.expensesTable tfoot td {
    background-color: rgb(224, 112, 104);
    font-weight: bold;
}

.expensesTable tfoot td:nth-of-type(2) {
    color: rgb(83, 12, 10);
}

#balanceSummary {
    background-color: #dee5ec;
    border: solid 5px rgb(73, 106, 156);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1rem 0 2rem 0;
}

#balanceSummary h2 {
    color: black;
    font-size: 1.6rem;
    font-family: 'Adamina', serif;
    letter-spacing: 0.1rem;
}

#balanceSummary h2:nth-of-type(2) {
    font-size: 1rem;
}

#balanceSummary p:nth-of-type(1) {
    font-size: 1.3rem;
    font-family: 'Lato', serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#balanceSummary img {
    padding: 0;
    margin: 0 0.4rem 0 0;
    height: 2.2rem;
    width: auto;
}

#balanceSummary p,
#balanceSummary h2 {
    display: flex;
    justify-content: center;
}

div#balanceSummaryMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    div#chooseDate {
        display: flex;
        flex-direction: column;
    }

    select#date {
        margin-top: 0.6rem;
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    div#chooseDate {
        display: flex;
        flex-direction: column;
    }

    select#date {
        width: 85%;
    }
}
