html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-y: scroll;
}

body {
    background-image: url(../images/homePageBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding-right: 0px !important;
}

img#coinstack {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    filter: invert(64%) sepia(57%) saturate(410%) hue-rotate(357deg) brightness(91%) contrast(84%);
}

header {
    background-color: #0b1826;
    color: white;
    margin: none;
}

h1 {
    margin: 0.5rem;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-size: 2.7rem;
    font-weight: bold;
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 22%,
            #f6e27a 45%,
            #f6f2c0 50%,
            #f6e27a 55%,
            #cb9b51 78%,
            #462523 100%);
    color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
    margin-top: 0.2rem;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

h3 {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    color: rgb(170, 168, 168);
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    transform: skew(0.10rad);
}

h4 {
    font-family: 'Roboto', serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

h4 {
    font-size: 1.9rem;
    margin: 0rem 4rem 0rem 4rem;
    color: white;
}

hr {
    color:white !important;
    height: 2px !important;
    margin-top: 0px;
}

p.stepByStep {
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.instructions img {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(348deg) brightness(106%) contrast(106%);
}

#navbarMainRow {
    color: white;
    background-image: linear-gradient(to top, #0b1826, #152130, #1f2b3a, #293544, #333f4f);  
    border: solid;
    border-width: 1px 0 0 0;
    border-color: rgb(184, 184, 184);
    padding: 0;
}

.toolbarIcons {
    filter: invert(100%) sepia(72%) saturate(4641%) hue-rotate(180deg) brightness(117%) contrast(100%);
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    width: 1.4rem;
    height: auto;
}

.navbar-brand {
    font-size: 0.90rem;
}

.toolbarIcons:nth-of-type(1) {
    padding-bottom: 0.1rem;
    margin-right: 0.2rem;
}

a {
    color: white !important;
    font-size: 0.95rem;
}

a#loggedInUser.navbar-brand {
    font-size: 0.80rem;
    padding-top: 0;
}

a.nav-link.active {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#navbarSupportedContent li:nth-of-type(5) a {
    color: rgb(16, 97, 247) !important;
}

#navbarSupportedContent li:nth-of-type(5) a img {
    filter: invert(30%) sepia(69%) saturate(4936%) hue-rotate(215deg) brightness(97%) contrast(99%) !important;
}

#hamburgerIcon {
    height: 2rem;
}

#outterLayer {
    background-color: #0b1826;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 10px;
}

#mainContainerSettings {
    width: 100%;
}

li:hover {
    background-color: #0d3453;
    transform: translateY(0.05rem);
    border-radius: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    background-color: #344a68;
}

.modal {
    padding-right: 0px !important;
}

.accordion-item {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(177, 177, 177, 0.9) 0px 0px 0px 1px;
    border: none;
}

.accordion-button {
    color: white;
    font-family: "Poppins", serif;
    background-color: #1f2b3a;
    background-image: linear-gradient(to top, #0b1826, #152130, #1f2b3a, #293544, #333f4f); 
}

.accordion-button:after {
    filter: invert(50%) !important;
  }

.limitStyle p {
    color:#666666 !important;
    font-family: 'Roboto', serif;
    font-size: 0.85rem;
}

.modal-header b {
    font-size: 1.4rem !important;
    font-family: 'Roboto', serif;
}

.modal-body label {
    font-size: 1.05rem !important;
    font-family: 'Roboto', serif;
    font-weight: bold;
}

#incomesSettingsIcon {
    padding: 0 !important;
    margin: 0 5px 0 0 !important;
}

#expensesSettingsIcon {
    padding: 0 !important;
    margin: 0 5px 0 0 !important;
}

#modalAddIncomeCategory {
    font-family: "Roboto", serif !important;
    font-weight: bold !important;
  }

.success {
    width: 25% !important;
    filter: invert(33%) sepia(79%) saturate(4750%) hue-rotate(122deg) brightness(95%) contrast(92%);
    background-color: transparent;
    border-color: transparent;
    border: none;
}

.category {
    background-color: #e2e4e6 !important;
    border-radius: 5px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 1rem;
}

.userInfo {
    color: rgb(82, 82, 82);
    font-size: 0.95rem;
    font-style: italic;
}

.changePasswordText {
    color:rgb(59, 118, 226) !important;
    font-size: 0.95rem;
    font-style: italic;
}

.changePasswordText label:hover {
    cursor: pointer;
  }
