{% extends "userIsLoggedIn.html" %}

{% block style %}
<link rel="stylesheet" href="/css/AddExpense.css">{% endblock %}
{% block title %} Add Expense {% endblock %}


{% block body %}

<section id="workingSpace" class="container-fluid p-0">
    <div class="row justify-content-center text-center">
        <div id="addExpenseTable"
            class="col-xxl-5 col-xl-6 col-md-8 col-sm-10 col-11 justify-content-center mt-3 mt-sm-5 mb-2">
            <div id="addExpenseHeader" class="row text-center py-2 px-0 mb-4">
                <h1>- Wprowadź Wydatek -</h1>
            </div>
            <div>
                <form method="post" action="/expense/create" class="text-end">
                    <div class="row py-2">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3">
                            <label for="expenseAmount" class="align-middle bold">Kwota:</label>
                        </div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12">
                            <div class="input-group">
                                <input type="number" step="0.01" min="0" id="expenseAmount" class="form-control"
                                    name="amount" placeholder="Podaj kwotę" aria-label="Amount (to the nearest dollar)"
                                    onchange="amountChange(this.value)" oninput="validity.valid||(value='');" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">zł</span>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% if expense.errors.amount is not empty %}
                    <div class="row p-0 m-0">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-0"></div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <p class="text-danger">{{ expense.errors.amount }}</p>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% endif %}
                    <div class="row py-4">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3">
                            <label for="date" class="align-middle bold">Data:</label>
                        </div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12">
                            <div class="input-group">
                                <input type="date" min="2000-01-01" max="{{ max_date }}" id="date" class="form-control"
                                    name="date" value="{{ current_date }}" onchange="checkLimit()" required>
                            </div>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% if expense.errors.date is not empty %}
                    <div class="row p-0 m-0">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-0"></div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <p class="text-danger">{{ expense.errors.date }}</p>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% endif %}
                    <div id="paymentMethods" class="row py-4">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-2">
                            <label id="category" class="bold">Sposób płatności:</label>
                        </div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <select class="form-select" name="paymentMethod" aria-label="Default select example">
                                {% for data in paymentMethodsAssignedToUser %}
                                <option {% if loop.index==1 %}selected{% endif %} value="{{ data.id }}">{{
                                    data.payment_method}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% if expense.errors.paymentMethod is not empty %}
                    <div class="row p-0 m-0">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-0"></div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <p class="text-danger">{{ expense.errors.paymentMethod }}</p>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% endif %}
                    <div id="categories" class="row py-4">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-2">
                            <label id="category" class="bold">Kategoria:</label>
                        </div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <select id="selectMenuCategoryOfExpense" class="form-select scrollable-menu"
                                name="categoryOfExpense" onchange="checkCategory()" aria-label="Default select example">
                                {% for data in expenseCategoriesAssignedToUser %}
                                <option {% if loop.index==1 %}selected{% endif %} value="{{ data.id }}">{{ data.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% if expense.errors.categoryOfExpense is not empty %}
                    <div class="row p-0 m-0">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-0"></div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <p class="text-danger">{{ expense.errors.categoryOfExpense }}</p>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% endif %}
                    <div class="row pt-4">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3">
                            <label for="comment" class="bold">Komentarz: (opcjonalnie)</label>
                        </div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12">
                            <div class="input-group">
                                <textarea class="form-control" id="comment" name="comment"
                                    aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% if expense.errors.comment is not empty %}
                    <div class="row p-0 m-0">
                        <div class="col col-md-1 d-none d-sm-block"></div>
                        <div class="col col-md-3 col-3 mb-0"></div>
                        <div class="col col-xs-9 d-block d-sm-none"></div>
                        <div class="col col-md-7 col-sm-8 col-12 text-start">
                            <p class="text-danger">{{ expense.errors.comment }}</p>
                        </div>
                        <div class="col col-md-1 d-none d-sm-block"></div>
                    </div>
                    {% endif %}
                    <div id="basicSummary" style="display:none" class="alert alert-success row p-0 mt-2 mx-0 mx-md-4"
                        role="alert">
                        <div class="col col-4 text-center">
                            <div class="row col-12 pt-2"><b>Limit miesięczny:</b></div>
                            <div class="row col-12">
                                <p id="limit"></p>
                            </div>
                        </div>
                        <div class="col col-4 text-center px-0">
                            <div class="row col-12 pt-2"><b>Wydano w miesiącu:</b></div>
                            <div class="row col-12">
                                <p id="moneySpent"></p>
                            </div>
                        </div>
                        <div class="col col-4 text-center">
                            <div id="expenseDynamicSummary" class="row col-12 pt-2"><b>Zostało:</b></div>
                            <div class="row col-12 text-center">
                                <p id="moneyRemaining"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4 mt-4">
                        <div class="col col-md-1 col-2 d-none d-sm-block"></div>
                        <div class="col col-md-3 d-none d-md-block"></div>
                        <div class="col col-md-7 col-sm-8 col-12">
                            <div class="row justify-content-end">
                                <nav class="col col-md-8 col-12 text-center mb-1">
                                    <button class="addExpense py-2"><span id="plusSign">+</span>&#160;Dodaj
                                        Wydatek</button>
                                </nav>
                                <nav class=" col col-md-4 col-12 text-center">
                                    <a href="/profile/show" class="text-decoration-none">
                                        <button type="button" class="negative py-2"><span
                                                id="goBackSign">&#60;&#60;</span>&#160;Wróć</button>
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="col col-md-1 col-2 d-none d-sm-block"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<script src="/js/limit.js"></script>
{% endblock %}